##### SYSTEM
PUID=1000
PGID=1000
TZ=Europe/Oslo
DATADIR=
DOCKERDIR=
DB_HOST=romm-db
DB_NAME=romm
DB_USER=romm-user
DB_PASSWORD=
MARIADB_ROOT_PASSWORD=

SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
STEAMGRIDDB_API_KEY=

# Generate a key with `openssl rand -hex 32`
ROMM_AUTH_SECRET_KEY=
