// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};

window#bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > box {
    // background: $bg-color;
    background: transparent;
    // background: rgba(0,0,0,0.8);
    border-radius: 10px;
    margin: 4px 6px 0 6px;
  }

  button {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 2px;
    min-height: 0;
    padding: 4px 8px;
    transition: background ease-in-out 150ms;

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }
  }

  .slider-box {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    transition: background ease-in-out 150ms;

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }
  }
}
