x-common-app-config: &common-app-config
  restart: unless-stopped
  environment:
    TZ: $TZ
    TIME_ZONE: $TZ

networks:
  default:
    driver: bridge

########################### SERVICES
services:
  homeassistant:
    <<: *common-app-config
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:2026.2.2@sha256:3e2dff545c46e91f4ab2b21597016011d76d0de58bc8eaf51d75e841f337bf88
    network_mode: host
    volumes:
      - $DATADIR/homeassistant:/config

  music-assistant-server:
    <<: *common-app-config
    image: ghcr.io/music-assistant/server:2.7.8@sha256:be0286a4cab1d1f0d5a3c3c11b938f0520e20b51477faf3eb8da81d6b9fd227d
    container_name: music-assistant-server
    network_mode: host
    volumes:
      - '$DATADIR/music-assistant/data:/data'
      - '$DATADIR/music-assistant/media:/media'
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined

  zigbee2mqtt:
    <<: *common-app-config
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.8.0@sha256:89cf02f379aa743a68494388e3a26fba7b8c9101f8b452038cc07aeff3fc983c
    network_mode: host
    volumes:
      - '$DATADIR/zigbee2mqtt/data:/app/data'
      - /run/udev:/run/udev:ro
    devices:
      - /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0:/dev/ttyACM0
    group_add:
      - keep-groups

  zwavejs2mqtt:
    <<: *common-app-config
    container_name: zwavejs2mqtt
    image: zwavejs/zwavejs2mqtt:11.10.1@sha256:9f64df38b4ca036fbde9e77fa7eaf0830ab65c4614466a05b3c57117a5131b1f
    network_mode: host
    volumes:
      - '$DATADIR/zwavejs2mqtt/store:/usr/src/app/store'
    devices:
      - /dev/serial/by-id/usb-0658_0200-if00:/dev/ttyACM0
    group_add:
      - keep-groups
    tty: true
    stop_signal: SIGINT
