[Unit]
Description=Proton Pass SSH Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.dotfiles/systemd/scripts/proton-pass-agent-wrapper.zsh
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=10
Restart=on-failure
RestartPreventExitStatus=78
RestartSec=10

[Install]
WantedBy=default.target
