networks:
  default:
    driver: bridge

########################### SERVICES
services:
  homarr:
    restart: unless-stopped
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:v1.43.3
    ports:
      - 127.0.0.1:7575:7575
    volumes:
      - $DATADIR/homarr/appdata:/appdata
    environment:
      - TZ=$TZ
      - TIME_ZONE=$TZ
      - SECRET_ENCRYPTION_KEY=$SECRET_ENCRYPTION_KEY
