networks:
  default:
    driver: bridge

########################### SERVICES
services:
  homarr:
    restart: unless-stopped
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:v1.50.1@sha256:99cf8466e5035049f718285a4a8529d1017d7950b0f9569440de04a0361caf60
    ports:
      - 127.0.0.1:7575:7575
    volumes:
      - $DATADIR/homarr/appdata:/appdata
    environment:
      - TZ=$TZ
      - TIME_ZONE=$TZ
      - SECRET_ENCRYPTION_KEY=$SECRET_ENCRYPTION_KEY
