networks:
  default:
    driver: bridge

########################### SERVICES
services:
  homarr:
    restart: unless-stopped
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:v1.52.0@sha256:c4edc672b31d96c91d24ac7411acabf32365355c531dccf72e4a7980ab70bbbb
    ports:
      - 127.0.0.1:7575:7575
    volumes:
      - $DATADIR/homarr/appdata:/appdata
    environment:
      - TZ=$TZ
      - TIME_ZONE=$TZ
      - SECRET_ENCRYPTION_KEY=$SECRET_ENCRYPTION_KEY
