prefer-no-csd

spawn-at-startup "clipse" "-listen"

cursor {
    xcursor-theme "Banana"
    xcursor-size 36
}

overview {
    zoom 0.4
    workspace-shadow {
        off
    }
}

// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // Find the right namespace by running niri msg layers.
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

debug {
  wait-for-frame-completion-before-queueing
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

environment {
  //QT_QPA_PLATFORM "wayland"
  DISPLAY ":0"
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}
