input {
    keyboard {
        xkb {
          layout "no"
        }
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        natural-scroll
        tap
        // drag false
    }

    mouse {
    }
}
