networks:
  default:
    name: teslamate_net
    driver: bridge

volumes:
  teslamate-grafana-data:
  teslamate-db:

########################### SERVICES
services:
  teslamate:
    restart: unless-stopped
    container_name: teslamate
    image: teslamate/teslamate:2.1.1@sha256:5b03b1a76a043799e3aeaf234d0a02761ee85cf5a662c5ade028218ecf9f0ccc
    ports:
      - 127.0.0.1:4000:4000
    environment:
      ENCRYPTION_KEY: $TESLAMATE_ENCRYPTION_KEY
      DATABASE_USER: $TESLAMATE_DB_USER
      DATABASE_PASS: $TESLAMATE_DB_PASS
      DATABASE_NAME: $TESLAMATE_DB_NAME
      DATABASE_HOST: teslamate_database
      MQTT_USERNAME: $TESLAMATE_MQTT_USERNAME
      MQTT_PASSWORD: $TESLAMATE_MQTT_PASSWORD
      MQTT_HOST: host.containers.internal
      TZ: $TZ
      TIME_ZONE: $TZ
    cap_drop:
      - all

  teslamate_grafana:
    restart: unless-stopped
    container_name: teslamate-grafana
    image: teslamate/grafana:2.1.1@sha256:61f5c2aaa91f78a4364a5a1ef282b2685642bd7c86848993134b59be402a5f80
    ports:
      - 127.0.0.1:4001:3000
    environment:
      DATABASE_USER: $TESLAMATE_DB_USER
      DATABASE_PASS: $TESLAMATE_DB_PASS
      DATABASE_NAME: $TESLAMATE_DB_NAME
      DATABASE_HOST: teslamate_database
      TZ: $TZ
      TIME_ZONE: $TZ
    volumes:
      - teslamate-grafana-data:/var/lib/grafana
      - ~/code/Teslamate-CustomGrafanaDashboards/customdashboards.yml:/etc/grafana/provisioning/dashboards/customdashboards.yml
      - ~/code/Teslamate-CustomGrafanaDashboards/dashboards:/TeslamateCustomDashboards

  teslamate_database:
    restart: unless-stopped
    container_name: teslamate-database
    image: postgres:18.0@sha256:41fc5342eefba6cc2ccda736aaf034bbbb7c3df0fdb81516eba1ba33f360162c
    environment:
      POSTGRES_USER: $TESLAMATE_DB_USER
      POSTGRES_PASSWORD: $TESLAMATE_DB_PASS
      POSTGRES_DB: $TESLAMATE_DB_NAME
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      TIME_ZONE: $TZ
    volumes:
      - teslamate-db:/var/lib/postgresql/data
