name: Nix Check

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '0 2 1,14 * *'

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run Statix Lint
        run: nix run nixpkgs#statix check ./nix/

      - name: Nix Flake Checker
        uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
        with:
          flake-lock-path: ./nix/os/flake.lock
          ignore-missing-flake-lock: false
          fail-mode: true
          send-statistics: false
